:root{
    --1:rgb(197, 189, 172);
    --2:rgb(230, 223, 188);
    --3:rgb(82, 60, 29);
    --4:rgb(180, 168, 140);
    --5:rgb(68, 44, 11);
    --6:rgb(46, 29, 6);
     --7:rgba(114, 108, 89, 0.8);
     --8: rgb(34, 33, 31);
     --9:white;
     --10:black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: var(--1);
  
}
.header{
    background-image: linear-gradient(rgba(17, 17, 15, 0.7),rgba(0, 0, 0, 0.7)), url(/imagenes/bg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px var(--6);
}

.navbar{
     position: fixed; 
            top: 0; 
            right: 0;
            padding: 15px 30px;
            z-index: 1000;
            display: flex;
            gap: 20px;
            background-color: var(--7);
}
.navbar a{
   
    font-size: 20px;
    color: var(--8);
    text-decoration: none;
}
.navbar a:hover{
color: var(--3);
}
#header-2{
    color: var(--1);
    font-size: 30px;
    
}
.icons{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: var(--);
     
}
.icons img{
    width: 60px;
}
.specials{
 display: flex;
   justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 20px;
}
#especialidad{
    background-color: var(--2);
    box-shadow: 0 0 12px var(--6);
}
#especialidad img{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 0 5px var(--6);
     
}
.special-info{
    text-align: center;
    color: var(--6);
     
}
.special-name{
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--5);
}

.special-coffee, .special-dessert{
    background-color: var(--4);
    border-radius: 16px;
    box-shadow: 0 0 20px var(--6);

}
.best{
    display: flex;
    flex-direction: row;
   
}
.best button a{
    color: var(--3);
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.btn2{
    background-color: transparent;
    border: none;
}
.best img{
    width: 500px;
    height: 300px;
   
}
.servicios img{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 0 20px var(--6);
}


.opiniones{
    background-color: var(--2);
    padding: 30px;
    
}
.opiniones h2{
    display: flex;
     justify-content: center;
     text-transform: uppercase;
     color: var(--5);
}
#comentario, #nombre{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: var(--5);
    gap: 80px;
    
   
}
#opiniones{
    background-color: var(--4);
    padding: 15px;
    border-radius: 16px;

}
#nombre, #comentario, #send{
    background-color: var(--9);
    border-radius: 16px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 20px var(--6);
    color: var(--10);
}
.opinion{
    background-color: var(--2);
    border-radius: 16px;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 0 20px var(--6);
}
#opiniones-lista{
    max-height: 200px;
    overflow-y: auto;
}
#footer{
    background-color: var(--4);
    color: var(--3);
    font-size: 25px;
   box-shadow: 0 0 20px var(--6);
    margin-left: 0;
    margin-top: 60px;
}

.info{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 25px;
}
.info div a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--3);
}
@media screen and (max-width:768px){
    
    body{
        width: 100%;
        height: auto;
        overflow-x: hidden;
    }
    .header{
        min-height: 50vh;
    }
    #header-2{
        margin-top: 50px;
        
    }
   
    .main{
         max-width: none;
                margin: 0;
                padding: 0;
    }
    .specials{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        align-items: stretch;
        padding: 0 1rem;
    }
 
    #especialidad img, .servicios img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 0.5rem;
        gap: 10px;
        width: 100%;
        
    }
    .special-info{
        text-align: center;
        width: 100%;
    }
    
    .best{
        flex-direction: column;
    }
    .navbar{
        display: flex;
        top: 0; 
        justify-content: space-between;
        align-items: center;
        gap: 2px;
        flex-wrap: nowrap;
        position: fixed;
        background-color: var(--7);
        width: 100%;
        }
    .navbar a{
        padding: 2px 4px;
        font-size: 12px;
        white-space: nowrap;
        color: var(--1);
        text-decoration: none;
        margin-left: 0;
        margin-right: 0;
        justify-content: left;
        }
        #footer{
            margin-right: 1px;
        }
    .info{
        
         font-size: 10px;
         display: flex;
         flex-direction: row;
         box-shadow: none;
       
         justify-content: center;
    }
    .info h2{
        display: none;
    }
    .molido{
       display: none;
    }
    
    
}
@media (max-width:500px){
     html, body{
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100vw;
        height: auto;
        overflow-x: hidden;
        box-sizing: border-box;
    }
    *{
        box-sizing: border-box;
        max-width: 100%;
    }
    .header{
        min-height: 25vh;
    }
    #header-2{
        margin-top: 25px;
        
    }
   
    .main{
         max-width: none;
                margin: 0;
                padding: 0;
    }
    .specials{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        align-items: stretch;
        padding: 0 1rem;
    }
 
    #especialidad img, .servicios img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 0.2rem;
        gap: 5px;
        width: 100%;
        
    }
    .special-info{
        text-align: center;
        width: 100%;
    }
    
    .best{
        flex-direction: column;
    }
    .navbar{
        display: flex;
        top: 0;
        left: 0;
        justify-content: left;
        gap: 2px;
        position: fixed;
        width: 100vw; 
        height: 10px;
        background: linear-gradient(to bottom, var(--7)80%, transparent 100%);
        box-sizing: border-box;
        overflow-x: auto;
        }
    .navbar a{
          color: var(--6);
        text-decoration: none;
        font-size: 10px;
        margin-top: 2px;
        margin-left: 0px; 
        margin-right: 0px;
        } #footer{
            margin: 0px;
        }
    .info{
        
         font-size: 10px;
         display: flex;
         flex-direction: row;
         box-shadow: none;
       
         justify-content: center;
    }
    .info h2{
        display: none;
    }
    .molido{
       display: none;
    }
    
}